/*mobile screen */

@media only screen and (max-width: 600px) {
  .nav-bar {
    display: none;
  }
  
  .logo-text {
    display: block !important;
  }

  .menu-icon {
    position: absolute ;
    right: 10px;
    font-size: 30px;
    color: #f4f4f4;
    cursor: pointer;
    z-index: 40;
  }

  .nav-bar-list {
    font-size: 15px;
    display: none !important;
  }
  .nav-bar-list a {
    padding: 10px 20px;
  }
  .header-container {
    justify-content: center;
    align-items: center;
    padding: 50px 5px;
    font-size: medium;
  }

  .header-container h1 {
    text-transform: capitalize;
    font-size: 50px !important;
  }
  .header-container h2 {
    text-overflow: clip !important;
    font-size: 25px !important;
    padding: 15px 0 15px 0 !important;
    /* line-height: 40px; */
  }
  .header-container p {
    display: none;
    font-size: 22px !important;
    /* line-height: 1.5 !important; */
    padding: 0 5px !important;
  }

  /* MUSIC SECTION  */

  .music-container {
    font-size: 13px;
  }
  .paragraph {
    font-size: 15px;
    padding: 0 5px !important;
  }
  .paragraph-2 {
    font-size: 15px;
    padding: 0 5px !important;
  }
  .music-container h2 {
    font-size: 20px;
  }
  .music-container h3 {
    font-size: 18px;
  }
  .music-container a {
    font-size: 15px;
    padding: 12px;
  }

  /* VIDEO SECTION */
  .video-container {
    font-size: 15px;
    padding: 0 3px !important;
  }

  .video-container h3 {
    font-size: 18px;
  }
  .video-container p {
    font-size: 15px;
    padding: 0 3px !important;
  }
  .video-container a {
    font-size: 15px;
    padding: 12px;
  }

  /* ENTERTAINMENT   */

  .entertainment-container h3 {
    font-size: 15px;
  }

  /* GIFT-CARD SECTION  */

  .giftcard-container {
    display: flex;
    flex-direction: column !important;
  }
  .giftcard-container p {
    font-size: 15px;
    padding: 0 20px !important;
  }

  .giftcard-container h2 {
    font-size: 20px;
    padding: 0 20px;
  }
  .giftcard-container a {
    font-size: 15px;
    padding: 10px 20px;
  }

  /* FOOTER SECTION  */

  .parent {
    display: none !important;
    flex-direction: column;
    font-size: 1px;
  }
  li {
    font-size: 13px;
  }
  .footer-bottom {
    font-size: 12px;
  }
  .muffin-icon {
    font-size: 10px ;
  }
  
}

@media only screen and(min-width:601px) and (max-width: 1024px) {

  /* .logo-text {
    display: none;
  } */

  .header-container h1 {
    font-size: 40px;
  }
  .header-container h2 {
    font-size: 28px;
  }
  .header-container p {
    font-size: 19px;
  }

  /* MUSIC-CONTAINER  */

  .music-container h2 {
    font-size: 28px;
  }
  .music-container h3 {
    font-size: 24px;
  }
  .music-container p {
    font-size: 19px;
  }
  .music-container a {
    font-size: 13px;
    padding: 13px;
  }

  /* VIDEO-SECTION */

  .video-container h3 {
    font-size: 24px;
  }
  .video-container p {
    font-size: 19px;
  }
  .video-container a {
    font-size: 14px;
    padding: 14px;
  }

  /* ENTERTAINMENT-SECTION */

  .entertainment-container h3 {
    font-size: 24px;
  }
  .entertainment-container p {
    font-size: 19px;
  }

  /* GIFTCARD-SECTION */

  .giftcard-container h2 {
    font-size: 28px;
  }
  .giftcard-container p {
    font-size: 19px;
  }
  .giftcard-container a {
    font-size: 15px;
  }

  /* FOOTER-SECTION */

  /* .parent {
            display: flex;
        } */
}
